openapi: 3.0.3
info:
  title: Reverse Tender Platform API
  description: |
    Enterprise-grade API for the Reverse Tender Platform - Saudi Arabia's premier automotive parts marketplace.
    
    ## Features
    - Complete user management with ZATCA compliance
    - Advanced part request and bidding system
    - Multi-gateway payment processing
    - Enhanced VIN OCR with vehicle data
    - Multi-channel notification system
    
    ## Authentication
    All API endpoints require authentication via Bearer token except for public endpoints.
    
    ## Rate Limiting
    - API endpoints: 1000 requests per hour
    - Authentication endpoints: 60 requests per hour
    - Upload endpoints: 30 requests per hour
    
    ## Supported Languages
    - Arabic (ar) - Primary
    - English (en) - Secondary
    
  version: 1.0.0
  contact:
    name: Reverse Tender Platform Support
    email: api-support@reversetender.sa
    url: https://reversetender.sa/support
  license:
    name: Proprietary
    url: https://reversetender.sa/license

servers:
  - url: https://api.reversetender.sa/v1
    description: Production server
  - url: https://staging-api.reversetender.sa/v1
    description: Staging server

security:
  - bearerAuth: []

paths:
  # Authentication Endpoints
  /auth/register:
    post:
      tags:
        - Authentication
      summary: Register new user
      description: Register a new customer or merchant account
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'

  /auth/login:
    post:
      tags:
        - Authentication
      summary: User login
      description: Authenticate user and return access token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # User Management
  /users/profile:
    get:
      tags:
        - User Management
      summary: Get user profile
      description: Retrieve authenticated user's profile information
      responses:
        '200':
          description: User profile retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'

    put:
      tags:
        - User Management
      summary: Update user profile
      description: Update authenticated user's profile information
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProfileRequest'
      responses:
        '200':
          description: Profile updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'

  # Vehicle Management
  /vehicles:
    get:
      tags:
        - Vehicle Management
      summary: Get user vehicles
      description: Retrieve all vehicles for authenticated user
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 15
            maximum: 100
      responses:
        '200':
          description: Vehicles retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleList'

    post:
      tags:
        - Vehicle Management
      summary: Add new vehicle
      description: Add a new vehicle to user's account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVehicleRequest'
      responses:
        '201':
          description: Vehicle added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vehicle'

  /vehicles/{vehicleId}:
    get:
      tags:
        - Vehicle Management
      summary: Get vehicle details
      description: Retrieve detailed information about a specific vehicle
      parameters:
        - name: vehicleId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Vehicle details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vehicle'

  # VIN OCR
  /vin-ocr/process:
    post:
      tags:
        - VIN OCR
      summary: Process VIN from image
      description: Extract VIN from uploaded image using multiple OCR engines
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image:
                  type: string
                  format: binary
                  description: VIN plate image (JPEG/PNG, max 10MB)
                enhance_processing:
                  type: boolean
                  default: true
                  description: Use enhanced multi-engine processing
      responses:
        '200':
          description: VIN processed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VinOcrResponse'

  # Part Requests
  /part-requests:
    get:
      tags:
        - Part Requests
      summary: Get part requests
      description: Retrieve part requests with filtering options
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, active, closed, cancelled]
        - name: category
          in: query
          schema:
            type: string
        - name: urgency
          in: query
          schema:
            type: string
            enum: [low, medium, high, urgent]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Part requests retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartRequestList'

    post:
      tags:
        - Part Requests
      summary: Create part request
      description: Create a new part request for bidding
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePartRequestRequest'
      responses:
        '201':
          description: Part request created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartRequest'

  # Bidding
  /bids:
    post:
      tags:
        - Bidding
      summary: Submit bid
      description: Submit a bid for a part request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBidRequest'
      responses:
        '201':
          description: Bid submitted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bid'

  /bids/{bidId}/accept:
    post:
      tags:
        - Bidding
      summary: Accept bid
      description: Accept a bid and create an order
      parameters:
        - name: bidId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Bid accepted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'

  # Orders
  /orders:
    get:
      tags:
        - Orders
      summary: Get orders
      description: Retrieve orders with filtering options
      parameters:
        - name: status
          in: query
          schema:
            type: string
        - name: date_from
          in: query
          schema:
            type: string
            format: date
        - name: date_to
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Orders retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderList'

  /orders/{orderId}:
    get:
      tags:
        - Orders
      summary: Get order details
      description: Retrieve detailed information about a specific order
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Order details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'

  # Payments
  /payments/initiate:
    post:
      tags:
        - Payments
      summary: Initiate payment
      description: Initiate payment for an invoice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitiatePaymentRequest'
      responses:
        '201':
          description: Payment initiated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'

  /invoices/{invoiceId}:
    get:
      tags:
        - Payments
      summary: Get invoice
      description: Retrieve invoice details
      parameters:
        - name: invoiceId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Invoice retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'

  # Notifications
  /notifications:
    get:
      tags:
        - Notifications
      summary: Get notifications
      description: Retrieve user notifications
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, sent, delivered, read, failed]
        - name: type
          in: query
          schema:
            type: string
        - name: unread_only
          in: query
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Notifications retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationList'

  /notifications/{notificationId}/read:
    post:
      tags:
        - Notifications
      summary: Mark notification as read
      description: Mark a specific notification as read
      parameters:
        - name: notificationId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Notification marked as read
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    # Authentication Schemas
    RegisterRequest:
      type: object
      required:
        - name
        - email
        - password
        - user_type
        - phone
      properties:
        name:
          type: string
          example: "أحمد محمد"
        email:
          type: string
          format: email
          example: "ahmed@example.com"
        password:
          type: string
          minLength: 8
          example: "SecurePass123!"
        password_confirmation:
          type: string
          example: "SecurePass123!"
        user_type:
          type: string
          enum: [customer, merchant]
          example: "customer"
        phone:
          type: string
          example: "+966501234567"
        language:
          type: string
          enum: [ar, en]
          default: ar

    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          example: "ahmed@example.com"
        password:
          type: string
          example: "SecurePass123!"

    AuthResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "تم تسجيل الدخول بنجاح"
        data:
          type: object
          properties:
            user:
              $ref: '#/components/schemas/User'
            token:
              type: string
              example: "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9..."
            expires_at:
              type: string
              format: date-time

    # User Schemas
    User:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: "أحمد محمد"
        email:
          type: string
          example: "ahmed@example.com"
        user_type:
          type: string
          enum: [customer, merchant]
        phone:
          type: string
          example: "+966501234567"
        language:
          type: string
          example: "ar"
        created_at:
          type: string
          format: date-time

    UserProfile:
      allOf:
        - $ref: '#/components/schemas/User'
        - type: object
          properties:
            profile:
              oneOf:
                - $ref: '#/components/schemas/CustomerProfile'
                - $ref: '#/components/schemas/MerchantProfile'

    CustomerProfile:
      type: object
      properties:
        id:
          type: integer
        location:
          type: object
          properties:
            city:
              type: string
              example: "الرياض"
            district:
              type: string
              example: "العليا"
            latitude:
              type: number
              format: float
            longitude:
              type: number
              format: float
        preferences:
          type: object
        zatca_tax_id:
          type: string

    MerchantProfile:
      type: object
      properties:
        id:
          type: integer
        business_name:
          type: string
          example: "قطع غيار الرياض"
        business_type:
          type: string
        tax_number:
          type: string
        verification_status:
          type: string
          enum: [pending, verified, rejected]
        rating:
          type: number
          format: float
          example: 4.5

    # Vehicle Schemas
    Vehicle:
      type: object
      properties:
        id:
          type: integer
        vin:
          type: string
          example: "1HGBH41JXMN109186"
        year:
          type: integer
          example: 2023
        brand:
          $ref: '#/components/schemas/Brand'
        model:
          $ref: '#/components/schemas/VehicleModel'
        trim:
          $ref: '#/components/schemas/Trim'
        is_primary:
          type: boolean
        created_at:
          type: string
          format: date-time

    Brand:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
          example: "Honda"
        name_ar:
          type: string
          example: "هوندا"
        logo_url:
          type: string

    VehicleModel:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
          example: "Civic"
        year_start:
          type: integer
        year_end:
          type: integer

    Trim:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
          example: "LX"
        engine_size:
          type: string
        transmission:
          type: string

    VehicleList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Vehicle'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    # VIN OCR Schemas
    VinOcrResponse:
      type: object
      properties:
        success:
          type: boolean
        vin:
          type: string
          example: "1HGBH41JXMN109186"
        confidence:
          type: number
          format: float
          example: 0.95
        vehicle_info:
          type: object
          properties:
            brand:
              type: string
            model:
              type: string
            year:
              type: integer
            engine:
              type: string
        enhanced_vehicle_info:
          type: object
        consensus_count:
          type: integer
        engines_agreed:
          type: array
          items:
            type: string

    # Part Request Schemas
    PartRequest:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
          example: "مطلوب قطعة فرامل أمامية"
        description:
          type: string
        category:
          type: string
        part_number:
          type: string
        vehicle:
          $ref: '#/components/schemas/Vehicle'
        budget_min:
          type: number
          format: float
        budget_max:
          type: number
          format: float
        urgency:
          type: string
          enum: [low, medium, high, urgent]
        status:
          type: string
          enum: [draft, active, closed, cancelled]
        expires_at:
          type: string
          format: date-time
        bid_count:
          type: integer
        created_at:
          type: string
          format: date-time

    PartRequestList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PartRequest'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    # Bid Schemas
    Bid:
      type: object
      properties:
        id:
          type: integer
        part_request_id:
          type: integer
        merchant:
          $ref: '#/components/schemas/MerchantProfile'
        amount:
          type: number
          format: float
        delivery_cost:
          type: number
          format: float
        delivery_time_days:
          type: integer
        warranty_months:
          type: integer
        notes:
          type: string
        status:
          type: string
          enum: [pending, accepted, rejected, withdrawn]
        created_at:
          type: string
          format: date-time

    # Order Schemas
    Order:
      type: object
      properties:
        id:
          type: integer
        order_number:
          type: string
          example: "ORD-260130-ABCD"
        part_request:
          $ref: '#/components/schemas/PartRequest'
        winning_bid:
          $ref: '#/components/schemas/Bid'
        status:
          type: string
        total_amount:
          type: number
          format: float
        payment_status:
          type: string
        delivery_address:
          type: object
        created_at:
          type: string
          format: date-time

    OrderList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Order'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    # Payment Schemas
    Payment:
      type: object
      properties:
        id:
          type: integer
        payment_reference:
          type: string
        amount:
          type: number
          format: float
        currency:
          type: string
          example: "SAR"
        payment_method:
          type: string
        status:
          type: string
        created_at:
          type: string
          format: date-time

    Invoice:
      type: object
      properties:
        id:
          type: integer
        invoice_number:
          type: string
        total_amount:
          type: number
          format: float
        tax_amount:
          type: number
          format: float
        status:
          type: string
        due_date:
          type: string
          format: date
        zatca_qr_code:
          type: object

    # Notification Schemas
    Notification:
      type: object
      properties:
        id:
          type: integer
        notification_id:
          type: string
        type:
          type: string
        title:
          type: string
        message:
          type: string
        priority:
          type: string
          enum: [low, medium, high, urgent]
        status:
          type: string
        read_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time

    NotificationList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Notification'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    # Request Schemas
    CreateVehicleRequest:
      type: object
      required:
        - vin
        - year
        - brand_id
        - model_id
      properties:
        vin:
          type: string
          example: "1HGBH41JXMN109186"
        year:
          type: integer
          example: 2023
        brand_id:
          type: integer
        model_id:
          type: integer
        trim_id:
          type: integer
        is_primary:
          type: boolean
          default: false

    CreatePartRequestRequest:
      type: object
      required:
        - title
        - description
        - vehicle_id
        - category
        - budget_max
      properties:
        title:
          type: string
        description:
          type: string
        vehicle_id:
          type: integer
        category:
          type: string
        part_number:
          type: string
        budget_min:
          type: number
          format: float
        budget_max:
          type: number
          format: float
        urgency:
          type: string
          enum: [low, medium, high, urgent]
          default: medium
        condition_preference:
          type: string
          enum: [new, used, refurbished, any]
          default: any

    CreateBidRequest:
      type: object
      required:
        - part_request_id
        - amount
        - delivery_time_days
      properties:
        part_request_id:
          type: integer
        amount:
          type: number
          format: float
        delivery_cost:
          type: number
          format: float
          default: 0
        delivery_time_days:
          type: integer
        warranty_months:
          type: integer
          default: 0
        notes:
          type: string

    InitiatePaymentRequest:
      type: object
      required:
        - invoice_id
        - payment_method
      properties:
        invoice_id:
          type: integer
        payment_method:
          type: string
          enum: [card, bank_transfer, wallet, cash]
        payment_details:
          type: object

    UpdateProfileRequest:
      type: object
      properties:
        name:
          type: string
        phone:
          type: string
        language:
          type: string
          enum: [ar, en]
        profile_data:
          type: object

    # Common Schemas
    PaginationMeta:
      type: object
      properties:
        current_page:
          type: integer
        last_page:
          type: integer
        per_page:
          type: integer
        total:
          type: integer
        from:
          type: integer
        to:
          type: integer

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          example: "حدث خطأ في العملية"
        error_code:
          type: string
          example: "VALIDATION_ERROR"

    ValidationError:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          example: "بيانات غير صحيحة"
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string

tags:
  - name: Authentication
    description: User authentication and authorization
  - name: User Management
    description: User profile and account management
  - name: Vehicle Management
    description: Vehicle registration and management
  - name: VIN OCR
    description: VIN extraction from images
  - name: Part Requests
    description: Part request creation and management
  - name: Bidding
    description: Bidding system for part requests
  - name: Orders
    description: Order management and tracking
  - name: Payments
    description: Payment processing and invoicing
  - name: Notifications
    description: Notification management

